.columns {
    margin-bottom: 0 !important
}

.column {
    padding-bottom: 0 !important
}

.button.is-primary.is-outlined.is-inverted.is-edged {
    color: #00d1b2 !important;
    border-radius: 3px !important;
    padding: 0 35px !important;
    font-weight: 500 !important;
    border-color: #00d1b2 !important;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.button.is-blue.is-outlined.is-inverted.is-edged {
    color: #304160 !important;
    border-radius: 3px !important;
    padding: 0 35px !important;
    font-weight: 500 !important;
    border-color: #304160 !important;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.button.is-basic.is-outlined.is-inverted.is-edged {
    color: #fff !important;
    border-radius: 3px !important;
    padding: 0 35px !important;
    font-weight: 500 !important;
    border-color: #fff !important;
    background-color: transparent;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.button.is-primary.is-outlined.is-inverted.is-edged:hover {
    background-color: #00d1b2 !important;
    color: #fff !important
}

.button.is-blue.is-outlined.is-inverted.is-edged:hover {
    background-color: #304160 !important;
    color: #fff !important
}

.button.is-basic.is-outlined.is-inverted.is-edged:hover {
    background-color: #fff !important;
    color: #304160 !important
}

.nav-item img {
    max-height: 2.75rem !important
}

@media screen and (min-width:769px),
print {
    .hero.is-large.is-inbetween .hero-body {
        padding-bottom: 12rem !important;
        padding-top: 12rem !important
    }
}

.title-blue,
.text-blue {
    color: #304160 !important
}

.section-small {
    padding: 1.5rem !important
}

.breadcrumb li a {
    color: #304160 !important
}

.breadcrumb li.is-active a {
    font-weight: 700
}

.breadcrumb li a.first {
    padding-left: 0 !important
}

.section-grey {
    background-color: #f8f8f8
}

.section-blue {
    background-color: #f0f3f7
}

.button.primary-green {
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding-left: 80px;
    padding-right: 80px;
    color: #fff;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.button.primary-green:hover,
.button.secondary-green:hover {
    background-color: #531ef1
}

.button.primary-blue {
    background-color: #304160;
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding-left: 80px;
    padding-right: 80px;
    color: #fff;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.button.primary-blue:hover,
.button.secondary-blue:hover {
    background-color: #223349
}

.button.secondary-green {
    background-color: #00d1b2;
    display: inline-block;
    border: none;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    color: #fff;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.button.secondary-blue {
    background-color: #304160;
    display: inline-block;
    border: none;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    color: #fff;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

@media screen and (max-width:768px) {

    .button.primary-blue,
    .button.primary-green {
        padding-left: 50px;
        padding-right: 50px;
        display: block;
        margin: 0 auto
    }
}

.hero-padding-small .section {
    padding: 2rem 1.5rem !important
}

.hero.is-blue {
    color: #fff;
    background-color: #304160
}

#profile_image-clear_id,
label[for=profile_image-clear_id] {
    display: none
}

form p {
    margin-top: 12px
}

label {
    display: inline-block;
    /*text-transform: uppercase;*/
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #2D3459;
    margin-bottom: 5px;
    font-family: 'Gilroy-SemiBold' !important;
}

.field-services label {
    display: inline
}

input[type=text],
input[type=password],
input[type=email],
input[type=number] {
    display: block;
    width: 100%;
    padding: 10px 7px;
    font-size: 12pt;
    border: 1px solid #ced4da
}

select,
textarea,
input[type=textarea] {
    border-radius: 0 !important;
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important
}

.v2 input[type=text],
.v2 input[type=password],
.v2 input[type=email],
.v2 input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 41px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 17px
}

.v2 select,
.v2 textarea,
.v2 input[type=textarea] {
    -webkit-appearance: none;
    width: 100%;
    padding: 5px 15px;
    outline: none;
    background: #e8ebed;
    color: #576366;
    font-size: 17px;
    border-radius: 5px !important;
    border: none !important
}

.field-services label {
    cursor: pointer;
    display: inline;
    line-height: 1.25em;
    vertical-align: top;
    clear: both;
    padding-left: 1px
}

.field-services label:not(:empty) {
    padding-left: .75em
}

.field-services label:before,
.field-services label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0
}

.field-services label:before {
    width: 1.25em;
    height: 1.25em;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, .54);
    border-radius: .125em;
    cursor: pointer;
    transition: background .3s
}

.field-services input {
    outline: 0;
    visibility: hidden;
    width: 1.25em;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit
}

.field-services input[type=checkbox]:checked+label:before {
    background: #6738ee;
    border: none
}

.field-services input[type=checkbox]:checked+label:after {
    transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
    width: .75em;
    height: .375em;
    border: .125em solid #fff;
    border-top-style: none;
    border-right-style: none
}

.menu-column-blue {
    background-color: #304160;
    color: #fff;
    padding: 0
}

.new-label {
    padding: 40px;
    background-color: #27395a;
    font-weight: 600;
    text-align: center;
    height: 104px
}

.new-label span {
    text-transform: uppercase;
    color: #00d1b2
}

.new-label a {
    color: #fff
}

.menu-column-blue .sidebar-content {
    padding: 40px;
    height: calc(100% - 104px)
}

.menu-label {
    color: #fff;
    font-size: 12pt;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    letter-spacing: 2px
}

.menu-column-blue .menu-list a {
    color: #fff
}

.menu-column-blue .menu-list a:hover,
.menu-column-blue .menu-list a.is-active {
    font-weight: 600;
    background-color: transparent;
    color: #fff
}

.mentor-bar {
    background-color: #f5f6fa;
    color: #304160
}

.mentee-sign {
    padding: 30px 40px !important
}

.mentee-sign #name {
    font-weight: 700;
    font-size: 18pt;
    padding-left: 12px
}

.mentor-bar-menu a {
    height: 100%;
    display: inline-block;
    position: relative;
    width: 75px;
    color: #304160
}

.mentor-bar-menu a:hover,
.mentor-bar-menu a.is-active {
    border-bottom: 3px solid #00d1b2;
    background-color: #eef1fb;
    color: #18adae
}

.mentor-bar-menu a span {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -16px
}

.footer {
    background-color: #00d1b2;
    color: #fff
}

.footer a {
    color: #fff
}

.messages-container {
    height: inherit !important;
    border: none !important
}

#messages {
    height: inherit !important;
    max-height: calc(100vh - 100px)
}

.add-message {
    padding: 10px 20px;
    background-color: #f5f6fa;
    margin: 0 !important;
    position: absolute;
    width: 100%;
    bottom: 0
}

.add-message textarea {
    margin-bottom: 0;
    background-color: #fff;
    border: 0 !important;
    resize: none;
    width: 100%;
    height: 44px;
    padding: 9px 10px
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0
}

.chat li {
    display: inline-block;
    clear: both;
    padding: 6px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    max-width: 85%;
    word-break: break-word
}

.receiver {
    background: #f5f6fa;
    float: left
}

.sender {
    float: right;
    background: #00d1b2;
    color: #fff
}

.dash-chat iframe {
    height: 100%;
    min-height: 400px;
    border-left: 1px solid #f3f3f3;
    width: 100%
}

aside.menu {
    height: calc(90% - 35px);
    overflow-y: auto
}

.full-height {
    height: 100%
}

.navbar-item.is-mega {
    position: static
}

.navbar-item.is-mega .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem
}

:root {
    --mc-blue: #304160;
    --mc-green: #00d1b2
}

.gray-wrap {
    background-color: #e4ebf0;
    margin-top: 3rem
}

.container-wide {
    max-width: 1140px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    position: relative
}

#content {
    background-size: contain;
    background-repeat: no-repeat
}

.megabar {
    background-color: var(--mc-blue);
    color: #fff;
    text-align: center;
    padding: 15px;
    font-weight: 700
}

.main-hero {
    text-align: center;
    padding: 10rem 10px 5rem;
    max-width: 964px;
    width: 100%;
    margin: 0 auto
}

.main-hero .headline {
    font-size: 2.5rem;
    margin-bottom: 1rem
}

.main-hero h3 {
    font-size: 1.4rem;
    margin-bottom: 2em
}

#home-search {
    width: 100%;
    background-color: var(--mc-blue);
    padding: 12px 30px;
    text-align: left;
    border-radius: 4px;
    position: relative
}

.textblock {
    margin-top: 8em;
    margin-left: 2em;
    color: #000
}

.textblock a:not(.button):not(.text-cta) {
    color: #000;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none
}

#home-search input {
    display: inline-block;
    border: none;
    background: 0 0;
    color: #fff;
    padding: 8px 2px;
    width: calc(100% - 200px);
    font-size: 1.05rem
}

#home-search input::placeholder {
    color: #ecf0f9;
    opacity: .8
}

#home-search input:focus {
    outline: none
}

#home-search button {
    width: 190px;
    height: 40px;
    background-color: var(--mc-green);
    border: none;
    border-radius: 3px;
    font-weight: 700;
    color: var(--mc-blue);
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

#home-search button:hover {
    background-color: #00b99c
}

.popular-searches {
    border: 1px solid var(--mc-blue);
    border-radius: 4px;
    margin-top: 1rem;
    text-align: left;
    padding: 14px 24px
}

.popular-searches .popular-searches-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 14px;
    display: block
}

.popular-searches .popular-search {
    background-color: #e1e1e1;
    border-radius: 3px;
    color: var(--mc-blue);
    padding: 8px 20px;
    font-weight: 700;
    margin-right: 8px;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.popular-searches .popular-search:hover {
    background-color: #d3d3d3
}

.popular-searches .popular-search.popular-search-main {
    background-color: #5c6c8d;
    color: #fff
}

.popular-searches .popular-search.popular-search-main:hover {
    background-color: #4a5775
}

#hero-img {
    max-width: 1024px;
    width: 90%;
    margin: 2rem auto 0;
    display: block
}

.section-subtitle {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    display: block
}

.flexing {
    text-align: center;
    margin-top: -3rem
}

.flexing img {
    padding: 0 10px;
    max-width: 470px;
    width: 100%;
    margin: 2rem auto 0
}

section .subtext {
    max-width: 620px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 2rem
}

.user-images {
    margin: 1rem
}

.user-images .user-type {
    text-align: center;
    font-size: 1.25rem;
    display: block
}

.user-images .user-illu {
    width: 100px;
    margin: 1rem auto 0
}

.service-section {
    text-align: left
}

.service-section:first-of-type {
    margin-top: 2rem
}

.service-section .service-textblock {
    padding-top: 7rem
}

.service-section .section-subtitle {
    font-size: 16px;
    color: #000;
    margin-bottom: 1rem
}

.service-section .section-subtitle img {
    width: 24px;
    margin-right: 8px;
    vertical-align: middle
}

.service-section .service-text {
    max-width: 380px;
    display: block;
    margin-top: .5rem
}

.cta-btns {
    margin-top: 1rem
}

.blue-cta {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #00aff5;
    border: none;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease
}

.blue-cta:hover {
    color: #fff;
    background-color: #009ddd
}

.grey-cta {
    color: #00aff5;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #00aff5;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-transition: color .5s ease, border .5s ease;
    -moz-transition: color .5s ease, border .5s ease;
    -o-transition: color .5s ease, border .5s ease;
    transition: color .5s ease, border .5s ease
}

.grey-cta:hover {
    color: #008cce;
    border: 1px solid #008cce
}

.text-cta {
    vertical-align: middle;
    color: var(--mc-blue);
    font-weight: 700;
    font-size: 13px;
    text-decoration: underline;
    margin-left: 5px
}

.cta-testimonial {
    margin-top: 1rem;
    font-size: 13px;
    font-style: italic
}

.cta-testimonial.big-testimonial {
    font-size: 16px
}

.cta-testimonial a {
    color: #1c1c1c;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none
}

.cta-testimonial img {
    border-radius: 50%;
    width: 90%;
    max-width: 80px
}

.testimonial-author {
    font-weight: 700;
    color: #000
}

.align-left {
    text-align: left
}

#jess-testimony {
    margin-top: 8rem;
    font-style: normal;
    font-size: 14px
}

#meet-the-mentor {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 4rem;
    color: #000
}

#meet-the-mentor a {
    color: #000;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none
}

#meet-the-mentor img,
#success-story img,
.founder-message img {
    border-radius: 3px;
    box-shadow: 0 20px 80px 60px rgba(102, 100, 100, .1)
}

.founder-message img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    width: 100%
}

#success-story {
    text-align: left;
    font-weight: 700
}

#price-range {
    width: 70%;
    display: block;
    position: relative;
    margin: 0 auto;
    top: -30px
}

.founder-message {
    margin-top: 3rem;
    text-align: left
}

.founder-message .cta-testimonial {
    display: block;
    margin-left: 30px;
    margin-top: 2rem
}

.followups {
    width: 70%;
    display: block;
    margin: 2rem auto 0
}

.followups .followup {
    width: 100%;
    margin: 10px;
    background-color: #f0f6ff;
    position: relative;
    text-align: left;
    padding: 35px 2rem !important;
    display: block;
    color: #4a4a4a
}

.followups .followup .arrow-right {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 10%
}

.end-cta {
    padding: 2rem;
    display: block
}

.end-cta a {
    margin: 0 10px
}

@media screen and (max-width:768px) {
    #home-search input {
        width: 100%
    }

    #home-search {
        text-align: center
    }

    #home-search button {
        margin-top: 10px
    }

    .popular-searches .popular-search {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px
    }

    #content {
        background-position-x: left;
        background-size: 150%
    }

    #mentorship-word {
        display: block
    }

    .service-section .service-textblock {
        padding-top: 2rem
    }

    #typed-headline {
        display: block
    }

    #home-search input {
        border-bottom: 1px solid #fff;
        margin-bottom: 10px
    }

    #jess-testimony {
        margin-top: 1rem
    }

    #egle {
        display: block;
        max-width: 300px;
        margin: 0 auto
    }

    .end-cta a {
        margin: 10px auto
    }

    #pricing-cta {
        margin-top: 20px
    }
}