@import 'https://rsms.me/inter/inter-ui.css';

html,
body {
    font-family: inter ui, sans-serif
}

a {
    color: #05b197
}

.settings-list {
    background: #f7f8fa;
    height: 100%;
    padding: 20px 5px
}

.menu-list {
    width: 90%;
    margin: auto
}

.menu-list li {
    margin-bottom: 10px
}

.menu-list a.is-active,
.menu-list a:hover {
    background: rgba(255, 255, 255, .73);
    color: #4a4a4a;
    font-weight: 500
}

#settings-content {
    padding: 40px !important
}

#mentor-sidebar {
    background-color: #304160 !important
}

.settings-list {
    height: 100%;
    padding: 28px 16px
}

.menu-list {
    margin: auto
}

.menu-list li {
    margin-bottom: 10px;
    color: #304160;
    font-weight: 500;
    padding: 2px 8px
}

.menu-list a {
    padding: 12px;
    display: block;
    border-left: 3px solid transparent
}

.menu-list a.is-active,
.menu-list a:hover {
    background: #f8f8f8;
    color: #304160;
    border-left: 3px solid #00d1b2
}

#settings-content {
    padding: 40px
}

.sidebar-header {
    height: 70px;
    border-bottom: 2px solid #3c5a82
}

.sidebar-header img {
    display: block;
    height: 54px;
    margin: 8px auto
}

.sidebar-nav-item {
    display: block;
    color: #fff;
    border-bottom: 1px solid #3c5a82;
    padding: 18px 12px;
    margin-left: .75rem;
    font-size: 1.1rem
}

.sidebar-nav-item .main-fa {
    color: lightgrey;
    margin-right: 7px;
    font-size: 1.5rem
}

.sidebar-nav-item:hover,
.sidebar-nav-item.is-active {
    color: #304160;
    background-color: #f2f5f8;
    border-bottom: 1px solid lightgrey
}

.sidebar-nav-item.is-active {
    border-left: 6px solid #00d1b2;
    font-weight: 500
}

.sidebar-nav-item:hover .main-fa,
.sidebar-nav-item.is-active .main-fa {
    color: #00d1b2
}

.nav-mentor-white {
    height: calc(70px + 0.75rem - 4px) !important;
    border-bottom: 2px solid #d0dce6
}

.dash-title {
    font-size: 20px;
    padding: 20px;
    color: #304160;
    cursor: default
}

.dash-title span {
    vertical-align: super;
    font-weight: 700
}

.nav-item.thick {
    font-weight: 700;
    color: #304160 !important
}

#level {
    border-radius: 100%;
    border: 4px solid #304160;
    font-weight: 700;
    color: #304160;
    padding: 5px;
    width: 42px;
    text-align: center
}

.wrapper .navbar-item {
    white-space: unset;
    text-align: left
}

.blue-btn {
    font-family: 'Poppins', sans-serif !important;
    display: inline-block;
    background-color: #6F3DFF !important;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 28px;
    border-radius: 5px;
    transition: .3s;
    border: 0;
    cursor: pointer
}

.blue-btn:hover {
    background-color: #6F3DFF;
    color: #fff;
    opacity: 0.9;
}

.navbar-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: auto;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.navbar-item,
.navbar-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.navbar-item.has-dropdown {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.navbar-dropdown {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #dbdbdb;
    -webkit-box-shadow: 0 8px 8px rgba(10, 10, 10, .1);
    box-shadow: 0 8px 8px rgba(10, 10, 10, .1);
    display: none;
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20
}

#management-content {
    min-height: calc(100% - (70px + 1.5rem - 6px));
    background: #f2f5f8;
    margin-left: 0
}

.box {
    /*box-shadow: none;*/
    border: 0px solid #d0dce6;
    border-radius: 8px
}


.v3 input[type=text],
.v3 input[type=password],
.v3 input[type=email],
.v3 input[type=url],
.v3 input[type=number],
.v3 input[type=tags],
.tagsinput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*width: 100%;*/
    /*height: 2.25em;*/
    height: 2.80em;
    /*padding: 15px;*/
    border-radius: 8px;
    outline: none;
    border: 1px solid #E1E4EC !important;
    background: transparent;
    /*color: #304160;*/
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
}

.v3 input::placeholder {
    color: #7B8099;
    font-weight: 400;
    font-size: 14px;
    /*font-style: italic*/
}

.v3 textarea::placeholder {
    color: #7B8099;
    opacity: 1;
}

.v3 select,
.v3 textarea,
.v3 input[type=textarea] {
    -webkit-appearance: none;
    width: 100%;
    padding: 5px 15px;
    outline: none;
    background: transparent;
    /*color: #304160;*/
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 8px 8px 0;
    border-radius: 8px !important;
    border: 1px solid #E1E4EC !important;


}

.v3 .select-box-ico{
    -webkit-appearance: none;
    width: 100%;
    padding: 5px 15px;
    outline: none;
    background: transparent;
    /*color: #304160;*/
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 8px 8px 0 !important;
    /*border: 1px solid #E1E4EC !important;*/


    border-top: 1px solid #E1E4EC !important;   
    border-bottom: 1px solid #E1E4EC !important;
    border-left: 0  !important;
    border-right: 1px solid #E1E4EC !important;

}


.v3 textarea, 
.v3 input[type=textarea] {
    border: 1px solid #E1E4EC !important;
    border-radius: 8px !important;
    padding: 10px 7px !important;
}

.small-card-title {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: grey;
    font-weight: 500
}

.small-card-text {
    display: block;
    font-size: 14px;
    width: 90%
}

.action-circle {
    background: #fff;
    padding: 8px;
    font-size: 22px;
    color: grey;
    margin: 4px;
    width: 49px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .24)
}

.action-circle:hover {
    color: #fff !important;
    background-color: darkgrey;
    transition: .1s all;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4)
}

.action-circle.acceptance {
    color: green
}

.action-circle.acceptance:hover {
    background-color: green
}

.action-circle.rejection {
    color: #b30000
}

.action-circle.rejection:hover {
    background-color: #b30000
}

h2 {
    font-size: 1.5em;
    margin-bottom: .5714em;
    color: #304160
}

.mentorcard-main-column {
    border-right: 1px solid lightgrey
}

#mentorbox {
    position: relative
}

#spot-indicator {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 600
}

#spot-indicator a {
    color: #304160
}

.mentor-location {
    margin: 3px 0
}

.mentor-location span {
    color: #304160;
    font-size: 14px;
    font-weight: 500
}

.star-rating-display {
    font-size: 1.2em;
    unicode-bidi: bidi-override;
    color: #bdc1c8;
    display: inline-block;
    position: relative;
    margin-top: 0
}

.rating-display {
    margin-bottom: 3px;
    font-size: .8em;
    vertical-align: text-top
}

.job-description {
    font-weight: 600;
    margin-top: .5em
}

.bold {
    font-weight: 700
}

.star-rating-display[data-rating="0.5"]:before {
    width: 10%
}

.star-rating-display[data-rating="1.0"]:before {
    width: 20%
}

.star-rating-display[data-rating="1.5"]:before {
    width: 30%
}

.star-rating-display[data-rating="2.0"]:before {
    width: 40%
}

.star-rating-display[data-rating="2.5"]:before {
    width: 50%
}

.star-rating-display[data-rating="3.0"]:before {
    width: 60%
}

.star-rating-display[data-rating="3.5"]:before {
    width: 70%
}

.star-rating-display[data-rating="4.0"]:before {
    width: 80%
}

.star-rating-display[data-rating="4.5"]:before {
    width: 90%
}

.star-rating-display[data-rating="5.0"]:before {
    width: 100%
}

#card-content {
    color: #304160
}

.trial-line {
    color: #4383db;
    font-weight: 700
}

#price-indicator-detail {
    font-size: 32pt;
    color: #304160;
    font-weight: 600;
    line-height: 23pt;
    margin: 28px 0
}

#price-indicator-detail span {
    font-size: 14pt;
    padding-left: 0;
    display: block
}

.blue-btn-outline {
    display: inline-block;
    background-color: transparent;
    border: 3px solid #304160;
    color: #304160;
    font-weight: 500;
    font-size: 15px;
    padding: 9px 28px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer
}

.blue-btn-outline:hover {
    background-color: rgba(48, 65, 96, .15);
    color: #304160
}

.mentordetail-section-title {
    color: #304160;
    font-weight: 700;
    font-size: 1.1rem
}

.skill-tags .tag {
    font-weight: 700;
    font-size: 12px !important;
    padding: .7em 1em;
    height: auto
}

.skill-tags .tag:not(.is-primary) {
    background-color: #fff
}

.thumbsup-column {
    font-size: 28px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #304160
}

.testimonial-text {
    color: #304160;
    font-size: .9rem;
    font-weight: 500
}

.testimonial-text .meta {
    margin-top: 1rem;
    display: block;
    color: #304160;
    font-size: .8rem;
    font-weight: 700
}

.related-mentors {
    margin-top: 20px;
    color: #304160
}

.has-text-blue {
    color: #304160
}

.section-grey #home-nav {
    background-color: #f8f8f8
}

#home-nav {
    background: 0 0;
    padding: 10px 3px;
    height: auto
}

.nav-left,
.nav-right {
    overflow: inherit
}

.nav-item:not(a.nav-item.white) {
    color: #555 !important;
    -webkit-transition: color .5s ease, border .5s ease;
    -moz-transition: color .5s ease, border .5s ease;
    -o-transition: color .5s ease, border .5s ease;
    transition: color .5s ease, border .5s ease
}

.nav-item:hover,
.nav-item.is-active {
    color: #3b3b3b !important
}

.white {
    color: #fff !important
}

.skill-navitem {
    font-weight: 700;
    font-size: 14px;
    color: #000 !important
}

.operational-navitem {
    font-size: 15px
}

.inv-primary-green {
    display: inline-block;
    background-color: #d5fbf4;
    color: #318273 !important;
    font-weight: 600;
    font-size: 15px;
    padding: 12px 28px;
    border-radius: 5px;
    transition: .3s;
    border: 0;
    cursor: pointer
}

.inv-primary-green:hover {
    background-color: #9de6d9
}

.tabs.is-toggle.is-toggle-rounded li:first-child a {
    border-bottom-left-radius: 290486px;
    border-top-left-radius: 290486px;
    padding-left: 1.25em
}

.tabs.is-toggle.is-toggle-rounded li:last-child a {
    border-bottom-right-radius: 290486px;
    border-top-right-radius: 290486px;
    padding-right: 1.25em
}

.hidden {
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important
}

.squared-icon {
    font-size: 2rem;
    padding: 14px;
    border-radius: 20px;
    color: #fff;
    -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25)
}

.squared-icon.green {
    background-color: #26c8a2
}

.squared-icon.yellow {
    background-color: #f7a10d
}

.squared-icon.blue {
    background-color: #3f9cf4
}

.small-title {
    font-weight: 700;
    color: #000;
    font-size: 1.4rem;
    margin-top: 10px
}

#featured-img {
    margin-top: 5%
}

@media only screen and (max-width:768px) {
    .navbar-item {
        position: static
    }

    .mentorcard-main-column {
        border-right: 0
    }

    .dash-title {
        cursor: pointer;
        position: relative
    }

    #sidenav-close {
        position: absolute;
        height: 42px;
        max-height: 42px;
        max-width: 42px;
        min-height: 42px;
        min-width: 42px;
        width: 42px;
        top: 25px;
        right: 32px
    }

    .navbar-item.is-hoverable:hover .navbar-dropdown,
    .navbar-item.is-hoverable:active .navbar-dropdown,
    .navbar-item.is-hoverable:focus .navbar-dropdown {
        display: block
    }

    #mentor-sidebar {
        position: fixed;
        left: -.7rem;
        top: 0;
        width: calc(100% + 0.7rem);
        height: 100%;
        z-index: 20;
        transition: .8s left
    }

    #mentor-sidebar.is-closed {
        left: -900px
    }

    #mentor-sidebar .sidebarmenu {
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 100px
    }

    #mentor-sidebar .menu-list {
        padding: 20px 0 10px 20px;
        background-color: #3a5881
    }

    #mentor-sidebar .menu-list li a {
        color: #fff;
        margin-left: .75rem
    }

    #mentor-sidebar .menu-list li a:hover,
    #mentor-sidebar .menu-list li a.is-active {
        background-color: #4673a6
    }

    #management-content {
        min-height: 100vh
    }

    .mobile-filter {
        display: none
    }

    .mobile-filter.open {
        display: block
    }

    .mobile-filter-button.hidden {
        display: none
    }

    .arrow-navigation {
        height: 36px;
        width: 36px;
        background-color: #fff;
        position: absolute;
        bottom: -18px;
        left: 50%;
        cursor: pointer;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
        border-radius: 100%;
        transform: translateX(-50%)
    }

    .arrow-navigation img {
        display: block;
        width: 24px;
        margin: 12px auto
    }

    .arrow-navigation.upside-down img {
        transform: rotate(180deg) scaleX(-1)
    }
}

@media screen and (max-width:768px) {
    .hero.is-primary .nav-menu {
        background-color: #f8f8f8
    }

    #conversational-form {
        pointer-events: none;
        position: fixed;
        z-index: 50
    }
}

#conversational-form:before {
    content: '\00d7';
    color: #fff;
    font-weight: 800;
    text-align: right;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 36px;
    pointer-events: auto
}

#form-overlay {
    transition: .5s all
}

@media screen and (min-width:768px) {
    #conversational-form {
        pointer-events: none;
        width: 60%;
        position: fixed;
        height: 90%;
        border-radius: 1em;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
        z-index: 50
    }

    .animate-in {
        pointer-events: all
    }

    #form-overlay.is-active {
        position: fixed;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        z-index: 40;
        background: rgba(0, 0, 0, .5)
    }
}