body {
    /*font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol*/
    /* font-family: 'Poppins', sans-serif !important; */
    font-family: "Plus Jakarta Sans", sans-serif;
}

.image.is-164x164 {
    width: 164px;
    height: 164px
}

.image.is-192x192 {
    width: 192px;
    height: 192px
}

.image.is-226x226 {
    width: 226px;
    height: 226px
}

.image.is-round img {
    margin: 5px;
    background: #fff;
    border-radius: 50%
}

.nav-home {
    background-color: #fff !important;
    height: 4rem !important;
    border-bottom: 1px solid #f0f0f0
}

.nav-mentor {
    background-color: #304160 !important;
    height: 4rem !important
}

.nav-home a:not(:hover):not(.is-active) {
    color: #8f97a3 !important
}

.nav-home a:hover,
.nav-home a.is-active {
    color: #4a5057 !important
}

.nav-mentor a:not(:hover):not(.is-active) {
    color: #d6d6d6 !important
}

.nav-mentor a:hover,
.nav-mentor a.is-active {
    color: #fff !important
}

.nav-mentor .nav-menu {
    background-color: #304160 !important
}

.header-image {
    background-image: linear-gradient(#304160a6, #304160a6), url(https://cdn.mentorcruise.com/img/bg3.jpg);
    background-size: cover
}

.hero-cta {
    padding: 30px 0
}

.panel-block.section p {
    font-size: 17px;
    line-height: 1.4;
    color: #95a5a6
}

.section.main {
    background-color: #f9f7f7
}

.content figure.image {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat
}

.card .media-content p {
    margin: 0
}

.uneven-section {
    background-color: #fff
}

.even-section,
.uneven-section {
    padding: 30px 0;
    color: #304160
}

.even-section img,
.uneven-section img {
    margin: 0 auto;
    display: block
}

.even-section p,
.uneven-section p {
    margin: 16px 0
}

.icon-block {
    font-size: 5em
}

.sub-link {
    margin-top: 5px;
    font-size: 14px
}

.sub-link a {
    text-decoration: underline
}

.nav-toggle {
    height: 4rem !important
}

.hero.is-white .title,
.hero.is-white .subtitle {
    color: #fff
}

.email-input,
.password-input {
    border-radius: 40px;
    font-size: 20px;
    padding-left: 15px;
    color: #95a5a6
}

.icon.user,
.icon.password {
    margin: 5px 10px 0 0
}

.avatar img {
    border-radius: 100px;
    padding: 5px;
    border: 1px solid #dbdbdb
}

.forgot-password a {
    color: #95a5a6;
    font-weight: 700;
    padding-right: 20px
}

.login {
    padding-top: 20px
}

.login button {
    border-radius: 40px;
    font-weight: 700
}

.hero.is-dark .section {
    background-color: transparent
}

.login-wrapper {
    margin: -.75rem;
    overflow-y: hidden
}

.hero-banner .title {
    display: inline-block;
    background-color: rgba(0, 0, 0, .6);
    padding: 5px
}

#login-form input {
    border-radius: 40px;
    font-size: 18px;
    padding-left: 15px;
    color: #95a5a6;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2.285em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-right: .75em;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    max-width: 100%;
    width: 100%;
    margin-top: 3px
}

.login-button {
    border-radius: 40px;
    font-weight: 700;
    margin-top: 20px
}

#login-form label {
    font-weight: 700;
    margin-top: 8px
}

#signup-form input:not([type=checkbox]) {
    border-radius: 40px;
    font-size: 20px;
    padding-left: 15px;
    color: #95a5a6;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2.285em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-right: .75em;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    max-width: 100%;
    width: 100%;
    margin-top: 3px
}

.hero.is-fullheight.is-primary {
    padding-top: 50px
}

#signup-form label {
    font-weight: 700;
    margin-top: 8px
}

.login-button {
    border-radius: 40px;
    font-weight: 700;
    margin-top: 20px
}

.section-status {
    margin-top: 40px;
    border: 1px solid #efefef;
    padding: 40px 20px;
    background-color: #fff
}

.container-status {
    padding-top: 50px;
    max-width: 968px
}

#basic {
    background-color: #f5f7fa
}

.signup-notice {
    text-align: center;
    padding: 40px 0 10px;
    font-size: 32px;
    background-color: #f5f5f5
}

#filter-form {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2)
}

#filter-form p label {
    font-weight: 700
}

.mentorbox {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2) !important;
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2) !important;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2) !important;
    padding: 2rem
}

.star-rating-display:before,
.star-rating-display:after {
    content: "★★★★★";
    display: block;
    white-space: nowrap
}

.star-rating-display:before {
    color: #fd9626;
    position: absolute;
    z-index: 1;
    left: 0;
    overflow: hidden
}

.star-rating-display:after {
    z-index: 0
}

.star-rating-display[data-rating="1"]:before {
    width: 20%
}

.star-rating-display[data-rating="2"]:before {
    width: 40%
}

.star-rating-display[data-rating="3"]:before {
    width: 60%
}

.star-rating-display[data-rating="4"]:before {
    width: 80%
}

.star-rating-display[data-rating="5"]:before {
    width: 100%
}

.star-rating {
    font-size: 30px
}

.star-rating .star-rating-stars {
    font-family: arial unicode ms, Arial, sans-serif;
    unicode-bidi: bidi-override;
    color: #ccc
}

.star-rating .star-rating-stars .star-rating-star {
    float: left;
    width: .88em
}

.star-rating .star-rating-stars .star-rating-star:before {
    content: "\2605";
    position: absolute;
    color: #fd9626
}

.star-rating .star-rating-current-value:before,
.star-rating .star-rating-current-value~.star-rating-star:before {
    content: normal
}

.star-rating.editable:hover .star-rating-current-value:before,
.star-rating.editable:hover .star-rating-current-value~.star-rating-star:before {
    content: "\2605";
    position: absolute;
    color: #fd9626
}

.star-rating.editable .star-rating-star:hover,
.star-rating.editable .star-rating-star:hover~.star-rating-star:before {
    content: normal;
    cursor: pointer
}

.star-rating .star-rating-aside {
    float: left;
    margin-left: 5px;
    color: #999;
    font-size: 11px;
    line-height: 24px
}

.star-rating.small {
    font-size: 16px;
    line-height: 1
}

.star-rating.small .star-rating-aside {
    line-height: 16px
}

.star-rating.large {
    font-size: 20px
}

.star-rating.large .star-rating-aside {
    line-height: 26px
}

.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px)
}

.nametag {
    font-weight: 600 !important;
    font-size: 1.75rem !important;
    margin-bottom: 5px !important
}

#card-content {
    color: #8f97a3;
    font-size: 11pt;
    margin-bottom: 15px !important;
    overflow-wrap: break-word;
    word-wrap: break-word
}

#service-list {
    list-style-type: circle;
    padding-left: 10px;
    margin-left: 10px
}

#price-indicator {
    font-size: 32pt;
    color: #304160;
    font-weight: 700;
    line-height: 23pt;
    margin-bottom: 20px
}

@media screen and (min-width:769px),
print {
    #price-indicator {
        margin-top: 30%
    }
}

#price-indicator-detail span {
    font-size: 19pt;
    padding-left: 20pt
}

.social-icons {
    margin-top: 15px
}

.info-tiles {
    margin: 1rem 0
}

.info-tiles .subtitle {
    font-weight: 300;
    color: #8f99a3
}

.hero.welcome.is-primary {
    background: #36d1dc;
    background: -webkit-linear-gradient(to right, #00d1b2, #36D1DC);
    background: linear-gradient(to right, #00d1b2, #36D1DC)
}

.hero.welcome .title,
.hero.welcome .subtitle {
    color: #fcfdfd
}

.card .content {
    font-size: 14px
}

.card-footer-item {
    font-size: 14px;
    font-weight: 700;
    color: #8f99a3
}

.card-footer-item:hover {}

.card-table .table {
    margin-bottom: 0
}

.events-card .card-table {
    max-height: 250px;
    overflow-y: scroll
}

.management-content {
    padding: 50px
}

.dash-content {
    padding: 50px !important
}

.dash-content .subtitle {
    font-size: 19pt;
    color: #304160;
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 5px
}

.label-special {
    text-transform: none !important
}

.dashboard-bases,
.dashboard-bases body {
    height: 100%
}

.dashboard-columns {
    min-height: calc(100% - 305px)
}

.full-height-content {
    min-height: 100%
}

.full-height-content .content-columns {
    min-height: calc(100vh - 385px)
}

.find-a-mentor {
    min-height: calc(100% - 319px)
}

@media screen and (max-width:768px) {
    .hero.is-primary .nav-toggle span {
        background-color: #000 !important
    }

    .mentee-sign {
        padding: 12px 40px !important;
        border-bottom: 1px solid #8f99a3
    }

    .mentor-bar-menu {
        padding-bottom: 20px !important
    }

    .mentor-bar-menu a:hover,
    .mentor-bar-menu a.is-active {
        border: none !important
    }

    .dash-chat iframe {
        border-top: 4px solid #f3f3f3
    }

    .login-wrapper {
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important
    }

    .login-wrapper .column.is-8 {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .login-wrapper .hero.is-fullheight .hero-body {
        padding: 3rem 1rem !important
    }
}

.level object {
    width: 120px;
    height: 120px;
    margin-right: 40px;
    margin-left: 40px;
    pointer-events: none
}

.level object svg {
    fill: #304160
}

.input[disabled],
.textarea[disabled] {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
    color: #7a7a7a;
    cursor: not-allowed
}